.login-card {
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: 55px auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.login-form .input {
  width: 100%;
  max-width: 300px;
}

#h2forlogin {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

#error {
  margin: 10px 0 0;
  font-size: 14px;
  color: #dc3545;
}

#login-link:hover {
  text-decoration: underline;
}
