.sidebar{
    padding-bottom: 300px;
}
.sidebar-options{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 /* justify-content: center; */
 /* align-items: center; */
 /* margin: 20px 0px 20px 0px; */

/* padding-right: 100px;  */
/* width: 70px; */


}

.main-modal{
    margin-left: 180px;
}

.chrome-color{
  
margin-left: 40px;
}

.form-control-input{
    outline: none;
    border:none;
    border-radius: 0px;
    
   border-bottom: 1px solid rgb(231, 222, 222);
}


.toggle-button {
    position: relative;
    width: 73px;
    height: 32px;
    background-color: #ddd;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
   border-radius: 5px;
   border: 2px solid #157347;
  }
  
  .toggle-button.on {
    background-color: white;
  }
  
  .toggle-button.off {
    background-color: white;
  }
  
  .toggle-button-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 28px;
    background-color: #157347;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
   
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  
  .toggle-button.on .toggle-button-switch {
    transform: translateX(35px);
   
  }

  /* .toggle-button.off .toggle-button-switch{
    background-color: rgb(224, 4, 4);
  } */
  
  .toggle-button-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
  }
  
  .toggle-button.on .toggle-button-content {
    transform: translateX(35px);
  }
  
  .toggle-button.off .toggle-button-content {
    transform: translateX(0);
  }
  